[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-SQLAlchemy = "==2.5.1"
Flask = "==2.0.2"
marshmallow = "==3.14.0"
Flask-Cors = "==3.0.10"
requests = "==2.26.0"
torchvision = "==0.11.1"
transformers = "==4.12.5"
torch = "==1.10.0"
numpy = "==1.21.4"

[dev-packages]

[requires]
python_version = "3.8"
